.home {
  .content {
    &__title {
      text-transform: capitalize;
      margin-bottom: 3rem;
    }

    &__list {
      list-style-type: none;
    }

    &__item {
      margin-bottom: 1rem;
    }

    &__btn-prev {
      margin-right: 3rem;
    }
  }
}